
.top-rated {
  color: white;
  font-size: 80pt;
  margin-bottom: 0;
}

 .carousel-root {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.carousel{
  text-align: center;
  background-color: rgba(173, 172, 167, .5)
}

.slide{
  height: 60vh;
}
