.carousel{
  display:flex;
  flex-direction: row;
  height: 60vh;
  margin-top: 20px;
  margin-bottom: 7%;
  overflow-x: scroll;
  width: 80vw;
}

.top-rated {
  color: white;
  font-size: 100pt;

}

.carousel-display {
  display: flex;
  flex-direction: column;
  text-align: center;
}
