.movie {
	margin-top: 10vh;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: .10fr 1fr .10fr;
}

.about { 
	color: white;
}

.movie-summary {
	background: black;
	opacity: 80%;
}

.statistics {
	font-size: 20pt;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	align-self: center;
}

.grid-col-span-1 {
	grid-column: 2;
}

.trailers {
	margin-top: 20px;
	grid-column: span 2;
	grid-row-start: 2;
	align-self: end;
}


