.movie {
	margin-top: 10vh;
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns: .10fr 1fr .10fr;
	background-size: cover;
}

.movie-summary {
	background: radial-gradient(circle, #272525 1%, #0a0505a6 50%);
	box-shadow: inset 0px -20px 20px 20px rgb(16 16 16 / 80%);
}

.statistics {
	font-size: 20pt;
	display: flex;
	justify-content: space-evenly;
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
	align-self: center;
	margin-bottom: 15px;
	padding-bottom: 25px;
}

.grid-col-span-1 {
	grid-column: 2;
}

.trailers {
	margin-top: 20px;
	grid-column: span 2;
	grid-row-start: 2;
	align-self: end;
}

.about {
	display: grid;
	grid-template-columns: 1fr;
	color: white;
}

.release-date {
	margin-top: -8px;
	align-self: start;
	justify-self: center;
}

.movie-title {
	font-size: 40pt;
	place-self: center;
}

.release-date-title {
	padding-right: 10px;
}

.overview {
	width: 80%;
	place-self: center;
	text-align: center;
}

.tagline {
	margin-top: -6px;
	place-self: center;
}
