.poster {
  padding: 50px;
  width: 96%;
  height: 50vh;
  perspective: 1000px;
  background-color: transparent;
}

.poster-image, .backdrop-image {
  width: 100%;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.poster-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.poster:hover .poster-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.poster-front, .poster-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.poster-back {
  display:flex;
  flex-direction: column;
  height:100%;
  font-size: 60pt;
  background-color: #414141;
  color: white;
  transform: rotateY(180deg);
  cursor:pointer;
}
