.poster {
  padding: 50px;
  width: 96%;
  height: 50vh;
  perspective: 1000px;
  background-color: transparent;
}

.poster-image, .backdrop-image {
  margin-top: 1rem;
  border-radius: 10px;
  width: 70%;
  cursor: pointer;
}

/* This container is needed to position the front and back side */
.poster-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.poster:hover .poster-inner {
  transform: rotateY(180deg);
}

.poster-front, .poster-back {
  background: linear-gradient(90deg, rgba(237,241,249,1) 10%, rgba(190,192,199,1) 50%, rgba(237,241,249,1) 90%);
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.poster-back {
  display:flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  align-items: center;
  font-size: 30pt;
  background: linear-gradient(90deg, rgba(237,241,249,1) 10%, rgba(190,192,199,1) 50%, rgba(237,241,249,1) 90%);;
  color: black;
  transform: rotateY(180deg);
  cursor:pointer;
}
